*{
  box-sizing:border-box;
}
div
{
  display:flex;
  flex-direction: column;
  padding:10px;
  text-align:center;
  justify-content: center;
}
body
{
  background:rgb(57, 56, 56);
}
.border
{
  border:2px solid #ccc;
}
.pink
{
  color:pink;
}
.yellow
{
  color:yellow;
}
.fr
{
  flex-direction:row;
  gap:2px;
}
.btns
{
  background:rgb(156, 155, 155);
  font-weight:bold;
  padding:5px;
  cursor:pointer;
  width:fit-content;
}
::placeholder
{
  color: black;
  font-weight:bold;
}
input.btns
{
  background:white;
}
@media(max-width:700px)
{
  .fr
  {
    flex-direction:column;
    row-gap:10px;
  }
  .btns
  {
    width:100%;
  }
}